.heroContainer{
    margin:0;
    overflow: hidden;
}

.aligner{
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.heroTextBox{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.heroTextBox h2{
    font-family: 'GmarketSans';
    padding:0;
    margin:0;
}
.heroTextBox p{
    font-size:1rem;
    word-break: keep-all;
    width:420px;
    line-height: 1.4rem;
    margin-top: 1rem;
}

.heroImgBox{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.heroTilt{
    width:1000px;
    aspect-ratio: 1000 / 580;
    height: auto;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(100px);
}

/*[data-theme='dark'] .dnBox a:hover{*/
/*    background-color:#000000;*/
/*}*/
@media (max-width: 1280px) {
    .heroTextBox{
        padding-left: 40px;
    }
}

@media (max-width: 960px) {
    .heroTextBox{
        padding-left: 40px;
    }
    .heroTextBox p{
        width:340px;
    }
    .heroTilt{
        width:700px;
    }

}

@media (max-width: 768px) {
    .heroTextBox{
        position: relative;
        text-align: center;
        padding-top:30px;
    }
    .heroTextBox h2{
    }
    .heroTextBox p{
        width:100%;
        padding: 0 40px;
    }
    .heroTilt{
        width:100%;
    }
}

@media (max-width: 480px) {
    .heroTextBox{
    }
    .heroTextBox h2{
        font-size:1.4rem;
    }
    .heroTextBox p{
        font-size:1rem;
    }
}
