.navbar__brand {
    min-width: 150px;
    display: flex;
    align-items: center;
}
.navbar__logo {
    height: 46px;
}
.navbar__logo img {
    width: 150px;
    height: 46px;
}
.navbar__title{
    display: none;
}

.navbar__inner {
    margin: 0 auto;
    max-width: var(--ifm-container-width);
    padding: 0 var(--ifm-spacing-horizontal);

    @media (min-width: 1440px) {
        max-width: var(--ifm-container-width-xl);
    }
    @media (max-width: 997px) {
        padding: 0;
    }
}

.footer.footer--dark {
    --ifm-footer-background-color: #333;
}
