.section{
    display: flex;
    align-items: center;
    padding: 3rem 0;
    width: 100%;
}

.section h3{
    text-align: center;
    margin:0;
    padding:0;
}
.section p{
    text-align: center;
    padding:1rem;
}

.sliderContainer{
    margin-bottom: 6rem;
}

.buttonContainer{
    display: flex;
    gap: 0.5rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}


